.board {
  display: inline-flex;
  flex-direction: column;
}

.board > * > * {
  width: 1.3em;
  height: 1.3em;
}

.board > * > :last-child {
  border-right-color:  #aaa;
}
.board > :last-child > *{
  border-bottom-color: #aaa;
}

.row {
  display: inline-flex;
  flex-direction: row;
}