@font-face {
  font-family: 'Digits';
  src: local('Digits'), url(./Digitaldream.ttf) format('truetype');
}

.header-container {
  position: relative;
  background-color: #c0c0c0;
  padding: 0.5em;
}
.header {
  position: relative;
}
.bombs-remaining {
  left: 0;
}
.elapsed-seconds {
  right: 0;
}
.bombs-remaining, .elapsed-seconds {
  overflow: hidden;
  position: absolute;
  top: 1px;
  z-index: 1;
  background-color: black;
  color: red;
  /* Arbitrary values needed to position the digits correctly */
  font-family: 'Digits';
  font-size: 1.5em;
  line-height: 1;
  height: 1.05em;
  padding-left: 0.08em;
  padding-top: 0.08em;
}

.new-game {
  display: block;
  font-size: 1.25em;
  margin: 0 auto;
  background-color: #bdbdbd;
  border-width: 2px;
  border-color: #fff #7b7b7b #7b7b7b #fff;
  color: #ffff01
}